@import "./reset.scss";
//src: url("")
//font-china
@font-face{
    font-family: 'my_font';
    src:local(Noto sans-serif);
    unicode-range: U+4E00-9FFF ,U+2E80-2EFF;
  }
//font-English
@font-face {
  font-family: "my_font";
  src: local(Roboto);
  unicode-range: U+0020-007F;
}
h1,
h2,
div,
p {
  font-family: "my_font";
}

.container {
  width: 1149px;
  margin: 0 auto;
  text-align: left;
}
.avatar{
    margin: 45px 0;
}
.big-title {
  font-size: 80px;
  border-bottom: 2px black solid;
  padding-bottom: 20px;
}
.title {
    line-height: 32px;
    border-bottom: 2px gray solid;
    padding-bottom: 10px;
   
    p,span{
        display: inline-block;
    }
  p{
    font-size: 32px;
    vertical-align: middle;
  }
  span {
    padding-left: 16px;
    font-size: 24px;
    vertical-align: middle;
    color: #a00404;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.my-header {
  padding: 20px 0;
}
